<br>

<h1 style="text-align: center">Statistiques:</h1>

<br>

<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile colspan="4" rowspan="2">

    <mat-card style="width: 100%;">

        <div class="row">
          <div class="col-md-4">
            <div class="dash-box dash-box-color-1" style="margin: auto">
              <div class="dash-box-icon">
                <i class="glyphicon glyphicon-cloud"></i>
              </div>
              <div class="dash-box-body">
                <span class="dash-box-count">{{nombreDInscrit}}</span>
                <span class="dash-box-title">Lauréats inscripts</span>
              </div>


            </div>
          </div>
          <div class="col-md-4">
            <div class="dash-box dash-box-color-2" style="margin: auto">
              <div class="dash-box-icon">
                <i class="glyphicon glyphicon-download"></i>
              </div>
              <div class="dash-box-body">
                <span class="dash-box-count">{{moyenneParMois}}</span>
                <span class="dash-box-title">Inscriptions chaque mois</span>
              </div>


            </div>
          </div>
          <div class="col-md-4">
            <div class="dash-box dash-box-color-3" style="margin: auto">
              <div class="dash-box-icon">
                <i class="glyphicon glyphicon-heart"></i>
              </div>
              <div class="dash-box-body">
                <span class="dash-box-count">{{nombreOrganisme}}</span>
                <span class="dash-box-title">Organismes</span>
              </div>

            </div>
          </div>
        </div>




    </mat-card>


  </mat-grid-tile>


  <mat-grid-tile colspan="2" rowspan="6">

    <mat-card style="width: 100%;">


      <div id="chartContainer1" style="height: 100%; width: 100%;">


      </div>

    </mat-card>


  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer2" style="height: 100%; width: 100%;">


      </div>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer3" style="height: 100%; width: 100%;">


      </div>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer4" style="height: 100%; width: 100%;">


      </div>

    </mat-card>

  </mat-grid-tile>


  <mat-grid-tile colspan="4" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer5" style="height: 100%; width: 100%;">

      </div>

    </mat-card>

  </mat-grid-tile>


</mat-grid-list>
