

<h1 style="text-align: center">Statistiques:</h1>

<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile colspan="4" rowspan="2">

    <mat-card style="width: 100%;">




    </mat-card>


  </mat-grid-tile>


  <mat-grid-tile colspan="2" rowspan="6">

    <mat-card style="width: 100%;">


      <div id="chartContainer1" style="height: 100%; width: 100%;">


      </div>

    </mat-card>


  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer2" style="height: 100%; width: 100%;">


      </div>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer3" style="height: 100%; width: 100%;">


      </div>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer4" style="height: 100%; width: 100%;">


      </div>

    </mat-card>

  </mat-grid-tile>


  <mat-grid-tile colspan="4" rowspan="6">



    <mat-card style="width: 100%;">


      <div id="chartContainer5" style="height: 100%; width: 100%;">

      </div>

    </mat-card>

  </mat-grid-tile>


</mat-grid-list>
