<mat-toolbar color="primary" >
  <span class="logo">
    <img id="ehtp-logo" class="" style="height: 60px" src="../assets/images/ehtp-logo-white.png" alt="ehtp-logo made by senju">
  </span>

  <span class="title">EHTP Annuaire</span>

  <button mat-button routerLink="/accueil">Accueil</button>
  <!-- button mat-button routerLink="/about">About</button -->
  <button mat-button routerLink="/laureats">Laureats</button>
  <!-- <button mat-button routerLink="/new-laureat">Nouveau Laureat</button> -->
  <button mat-button *ngIf="currentUser && (currentUser.role == 'admin' )"  routerLink="/app-admin">Administration</button>
  <button mat-button routerLink="/statistique-laureat">Statistiques</button>


  <span class="spacer"></span>

  <button *ngIf="currentUser" mat-button  routerLink="/app-login">Bonjour {{currentUser.nom}} !</button>
  <button *ngIf="!currentUser" mat-button  routerLink="/app-login">Se connecter</button>
  <button *ngIf="currentUser" mat-button (click)="logout() ">Déconnexion</button>
</mat-toolbar>


<mat-progress-bar
  *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>

<router-outlet>

</router-outlet>
