<mat-card role="group">

  <br>
  <br>


  <h1 style="text-align: center">Gestion Inscription:</h1>


  <br>

  <div *ngFor="let avancement of avancementsList">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + avancement.photo + ')'}"></div>
        <mat-card-title>{{avancement.nom}} {{avancement.prenom}}</mat-card-title>
        <mat-card-subtitle>Avancement :<span [ngClass]="{'ac':avancement.etat=='accepted','wa':avancement.etat!='accepted'}"> {{avancement.etat}} </span> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p style="margin-left: 2%;margin-top: 2%;">
          Description :<br>
          {{avancement.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Editer</button>
        <button mat-button (click)="detail(avancement)">Détail</button>
      </mat-card-actions>

    </mat-card>

    <laureat-detailles *ngIf="avancement.detailAffiche" [avancement]="avancement" ></laureat-detailles>

    <br>

  </div>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</mat-card>



