<div class="container spacer">
  <div class="spacer">
    <h1>EHTP - Association</h1>
    <p>
      blalalmnmlvnmlnvsdmlnvdmlnvmdlnsdvm vm
    </p>
  </div>
  <div class="spacer">
    <h1>Notre Solution: Annuair Laureats</h1>
    <h2>Services et fonctionnalités :</h2>
    <p>
      edtgfhjklmùkjblnmn,m,m,m,m,ml
    </p>
  </div>
  <div class="spacer">
    <h1>Encadrement :</h1>
  </div>
  <div class="spacer">
    <h1>Qui somme Nous ?</h1>
  </div>
  <div class="spacer">
    <h1>PROGRESS ... </h1>
  </div>
</div>
