<div class="container spacer">
  <div class="spacer">
    <h1>EHTP - Association</h1>
    <p>
      blalalmnmlvnmlnvsdmlnvdmlnvmdlnsdvm vm
    </p>
  </div>
  <div class="spacer">
    <h1>Notre Solution: Annuair Laureats</h1>
    <h2>Services et fonctionnalités :</h2>
    <p>
      edtgfhjklmùkjblnmn,m,m,m,m,ml
    </p>
  </div>
  <div class="spacer">
    <h1>Encadrement :</h1>
    <mat-card>
      <p>
        <img src="../../assets/images/MrAdilMalmoum.jpg" class="img-fluid" alt="ehtp-logo made by senju" style="height: 100px;"  >
        <span style="font-weight: bold">Mr. Adil Malmoum </span> Laureat de l'INSEA promo 98, professeur à l'EHTP et l'INSEA et le DG de <a href="http://referencespatiale.com/">Refrence Spatiale</a>
      </p>
    </mat-card>
  </div>
  <div class="spacer">
    <h1>Qui somme Nous ?</h1>
  </div>
  <div class="spacer">
    <h1>PROGRESS ... </h1>
  </div>
</div>
